/* Board.css */

.board-page {
    max-width: 1150px;
    margin: 0 auto 50px;
    padding: 20px;
}

.board-page h1 {
    margin-bottom: 40px;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #555555;
    padding-bottom: 15px;
    color: #333;
    font-family: 'SUIT-Regular', Arial, sans-serif;
    font-weight:bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 24px;
}

.posts-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; /* 테이블 레이아웃 고정! */
}

.posts-table th{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 10px;
    background-color: #f9f9f9;
    text-align: left;
}

.posts-table .date-column, .posts-table td:last-of-type {
    /* text-align: right;  */
    /* padding-left: 20%; */
}

.posts-table td {
    border-bottom: 1px solid #ececec;
    padding: 15px 10px;
    text-align: left;
}

.posts-table tr:hover {
    background-color: #fafafa;
}

.reply-row .reply-title {
    padding-left: 20px;
}

.pagination {
    text-align: center;
    margin-top: 50px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #555;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 10px;
    margin-top: 8px;
    font-size: 1em;
}

.post-form {
    margin: 0 auto;
}

.post-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.post-form input[type="text"],
.post-form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.post-form input[type="file"] {
    margin-bottom: 10px;
}

.post-form button {
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}

.post-form button:hover {
    background-color: #218838;
}
