.container{
    height: 85vh;
    width: 100%;
    background-color: #111; 
 }


.content{  
    min-height: 70%;
    max-width: 70%;
    margin: 0 auto;

    position: relative;
    top: 50%;
    transform: translate(0, -50%);
 }


 .con .lwrap {
    min-height: 100%;
    min-width: 40%;
    box-sizing: border-box;

    float: left;
}


.lwrap_img{
    padding-bottom: 100%;
    background-image: url(../images/news/about1.jpg);
    background-size: cover
 }
      

 .con .rwrap {
    min-height: 100%;
    width: 55%;
    
    float: right;
 }


 .rwrap .about {
    height: 35px;
    width: 115px;

    color: red;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color : rgb(255,255,255,0.2);
 }


.text h1{
    font-size: calc(1.375rem + 1.5vw);
    color: #fff;
    font-weight: 600;

    margin-top: 20px;
    margin-bottom: 20px;
}


.text p{
    height: 60px;

    color: #999;
    margin-top: 20px;

    overflow-y: hidden;
}


.rcon2 > div{
    float: left;
    width: 40%;
    display: block;

    margin-right: 20px;
    margin-top: 30px;
}


.rcon2 h2{
    color: #fff;
    font-size: 1.5em;
}


.rcon2 p{
    color: #999;
    display: block;

    margin-top: 10px;
    height: 150px;

    overflow-y: hidden;
}


.more a{
    color: #fff;

    position: absolute;
    right: 0;
    bottom: 0;
}


@media ( max-width: 1024px ) {
    .container{
        height: 130vh;
        width: 100%;
        background-color: #111; 
 }
}


@media ( max-width: 1024px ) {
    .con .lwrap { 
        height: 100%;
        width: 100%;
        float: none;
    }
  }


@media ( max-width: 1024px ) {
    .lwrap_img{
        padding-bottom: 100%;
        background-image: url(../images/news/about1.jpg);
        background-size: cover
 }
}


@media ( max-width: 1024px ) {
    .con .rwrap { 
        width: 100%;
        height: 410px;
        float: none;
        margin-top: 25px;

        overflow: hidden;
    }
  }