*{
    margin : 0;
    padding : 0;
}
.wrapper {
    width : 100%;
    height: 0;
    /* 패딩을 넣어서 이미지 비율 유지 */
    padding-bottom: 50%; 
    margin : 0 auto;
    position: relative;
    overflow: hidden;
}

.slideShow {
    width : 500%;
    position: relative;
    transition : 0.5s;
}

.showBox {
    width : 20%;
    height : 100%;
    box-sizing: border-box;
    float :left;
    position : relative;
}

.showBox h1 {
    position : absolute;
    left : 50%;
    top : 50%;
    color : white;
    font-size: 30px;
    display: block;
    width: 150px;
    height : 450px;
    background-color: rgba(1, 1, 1, 0.5);
    text-align: top;
    border-radius: 10px;
    
}

.showBox P {
   	position : absolute;
    left : 50%;
    bottom : 50%;
    color : white;
    font-size: 30px;
    display: block;
    width: 150px;
    height : 450px;
    background-color: rgba(1, 1, 1, 0.5);
    text-align: top;
    border-radius: 10px;
    
}

.showBox img {
    width : 100%;
    object-fit: contain;
}

.slideShow > div:last-child {
    clear: both;
}

.arrow .prev{
    display: block;
    width: 50px;
    height : 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    position : absolute;
    left:40px; 
    top: 45%;
    color : white;
    font-size: 50px;
}

.arrow .next{
    display: block;
    width: 50px;
    height : 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    position : absolute;
    right:40px; 
    top: 45%;
    color : white;
    font-size: 50px;
}

.hiddenBox {
    display : none;
}

.centered-span {
    display: block; 
    text-align: center; 
}