*{
    margin : 0;
    padding : 0;
}
.wrapper {
    width : 100%;
    height: 0;
    /* 패딩을 넣어서 이미지 비율 유지 */
    padding-bottom: 45%; 
    margin : 0 auto;
    position: relative;
    overflow: hidden;
}

.slideShow {
    width : 500%;
    position: relative;
    transition : 0.5s;
}

.showBox {
    width : 20%;
    height : 100%;
    box-sizing: border-box;
    float :left;
    position : relative;
}
<<<<<<< HEAD
/*
=======
.showBox img {
	width : 100%;
}

>>>>>>> 4ee5b8af02fb81b4b8a9c1d37421bf89c59cb839
.showBox h1 {
    position : absolute;
    left : 50%;
    top : 50%;
    color : white;
    font-size: 30px;
    display: block;
    width: 150px;
    height : 450px;
    background-color: rgba(1, 1, 1, 0.5);
    text-align: top;
    border-radius: 10px;
    
}

<<<<<<< HEAD
.showBox p {
   	position : absolute;
    left : 50%;
    bottom : 50%;
    color : white;
    font-size: 30px;
    display: block;
    width: 150px;
    height : 450px;
    background-color: rgba(1, 1, 1, 0.5);
    text-align: top;
    border-radius: 10px;
}*/
/*
.textBox{
    position : absolute;

    z-index: 2;
    border: solid yellow;
    
}*/

.showBox .textBox{
    height: 100px;
    width: 70%;
    top: 450px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 10px;
}


.textBox h1 {
    text-align: center;
    
    color : white;
    font-size: 30px;
    margin-bottom: 8px;
    
}

.textBox p {
    width: 100%;

    color : white;
    font-size: 18px;

    position: absolute;
    

    display: inline;
    text-align: center;
}


.showBox img {
    width : 100%;
    object-fit: contain;
}

=======
>>>>>>> 4ee5b8af02fb81b4b8a9c1d37421bf89c59cb839
.slideShow > div:last-child {
    clear: both;
}

.arrow .prev{
    display: block;
    width: 50px;
    height : 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    position : absolute;
    left:40px; 
    top: 45%;
    color : white;
    font-size: 50px;
}

.arrow .next{
    display: block;
    width: 50px;
    height : 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    position : absolute;
    right:40px; 
    top: 45%;
    color : white;
    font-size: 50px;
}

.hiddenBox {
    display : none;
}

.centered-span {
    display: block; 
    text-align: center; 
}

.showBox span {
	display : block;
	position : absolute;
	right : 10%;
    top : 550px;
    color : white;
    display: block;
    width: 40%;
    background-color: rgba(1, 1, 1, 0.5);
    text-align: top;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
}

.showBox b {
    font-size : 30px;
}

span {
    font-size : 16px;
}

@media screen and (max-width: 1200px) {
    .showBox b {
        font-size : 24px;
    }

    .showBox span {
        font-size : 12px;
        top : 400px;
    }
}

@media screen and (max-width: 800px) {
    .showBox b {
        font-size : 16px;
    }

    .showBox span {
        font-size : 10px;
        top : 200px;
    }
}