.comment-form {
    margin-top: 20px;
}

.comment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.comment-form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
}

.comment-form button {
    background-color: #535353;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 15px;
}

.comment-form button:hover {
    background-color: #0056b3;
}
