
.contents2_contents2 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.contents2_contents2 ._4 {
	visibility: hidden;
	position: absolute;
	left: 232.5px;
	top: 12px;
	width: 1038.75px;
	height: 363px;
}
.contents2_contents2 ._4 .Rectangle319 {
	position: absolute;
	left: 0px;
	top: 42px;
	width: 226.5px;
	height: 225px;
	background: rgba(217,217,217,1.00);
}
.contents2_contents2 ._4 .Rectangle322 {
	position: absolute;
	left: 249px;
	top: 42px;
	width: 226.5px;
	height: 225px;
	background: rgba(217,217,217,1.00);
}
.contents2_contents2 ._4 .Rectangle323 {
	position: absolute;
	left: 498px;
	top: 42px;
	width: 226.5px;
	height: 225px;
	background: rgba(217,217,217,1.00);
}
.contents2_contents2 ._4 .Rectangle324 {
	position: absolute;
	left: 747px;
	top: 42px;
	width: 226.5px;
	height: 225px;
	background: rgba(217,217,217,1.00);
}
.contents2_contents2 ._4 ._4_1 {
	position: absolute;
	left: 0px;
	top: 282px;
	width: 226.5px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 16.65000057220459px;
}
.contents2_contents2 ._4 ._4_2 {
	position: absolute;
	left: 249px;
	top: 282px;
	width: 226.5px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 16.65000057220459px;
}
.contents2_contents2 ._4 ._4_3 {
	position: absolute;
	left: 498px;
	top: 282px;
	width: 226.5px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 16.65000057220459px;
}
.contents2_contents2 ._4 ._4_4 {
	position: absolute;
	left: 747px;
	top: 282px;
	width: 226.5px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 16.65000057220459px;
}
.contents2_contents2 ._4 .Rectangle321 {
	position: absolute;
	left: 0px;
	top: 25.5px;
	width: 975px;
	height: 1.5px;
	background: rgba(37,37,37,1.00);
}
.contents2_contents2 ._4 .CELEBRITYNEWS {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 99px;
	height: 13.5px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}
.contents2_contents2 ._4 .more {
	position: absolute;
	left: 939.75px;
	top: 0px;
	width: 99px;
	height: 13.5px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}
.contents2_contents2 ._3 {
	position: absolute;
	left: 37.5390625%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 862.5px;
	height: 332.25px;
}
.contents2_contents2 ._3 .Rectangle319_1 {
	position: absolute;
	left: 0px;
	top: 63.75px;
	width: 264px;
	height: 213px;
	background: rgba(217,217,217,1.00);
}
.contents2_contents2 ._3 .Rectangle322_1 {
	position: absolute;
	left: 37.5%;
	top: 63.75px;
	transform: translate(-50%, 0);
	width: 264px;
	height: 213px;
	background: rgba(217,217,217,1.00);
}
.contents2_contents2 ._3 .Rectangle323_1 {
	position: absolute;
	left: 597.75px;
	top: 63.75px;
	width: 264px;
	height: 213px;
	background: rgba(217,217,217,1.00);
}
.contents2_contents2 ._3 .Frame25 {
	position: absolute;
	left: 0px;
	top: 294px;
	width: 264px;
	height: 38.25px;
}
.contents2_contents2 ._3 .Frame25 ._4_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 264px;
	height: 38.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 16.65000057220459px;
}
.contents2_contents2 ._3 .Frame24 {
	position: absolute;
	left: 299.25px;
	top: 294px;
	width: 264px;
	height: 38.25px;
}
.contents2_contents2 ._3 .Frame24 ._4_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 264px;
	height: 38.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 16.65000057220459px;
}
.contents2_contents2 ._3 .Frame23 {
	position: absolute;
	left: 597.75px;
	top: 294px;
	width: 264px;
	height: 38.25px;
}
.contents2_contents2 ._3 .Frame23 ._4_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 264px;
	height: 38.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 16.65000057220459px;
}
.contents2_contents2 ._3 .Group2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 862.5px;
	height: 46.5px;
}
.contents2_contents2 ._3 .Group2 .Rectangle330 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 862.5px;
	height: 46.5px;
	background: rgba(255,255,255,1.00);
}
.contents2_contents2 ._3 .Group2 .Rectangle321_1 {
	position: absolute;
	left: 0px;
	top: 45px;
	width: 862.5px;
	height: 1.5px;
	background: rgba(208,208,208,1.00);
}
.contents2_contents2 ._3 .Group2 .CELEBRITYNEWS_1 {
	position: absolute;
	left: 0px;
	top: 15.75px;
	width: 154.5px;
	height: 13.5px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}
.contents2_contents2 ._3 .Group2 .more_1 {
	position: absolute;
	left: 774.2596435546875px;
	top: 15.75px;
	width: 87.57691955566406px;
	height: 13.5px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}