.edit-profile-container {
    background-color: #fff;
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'SUIT-Regular', Arial, sans-serif;
  }
  
  .edit-profile-container h2 {
    width: 100%;
    border-bottom: 1px solid #555555;
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: #333;
    text-align: left;
    font-family: 'SUIT-Regular', Arial, sans-serif;
  }

  .edit-button {
    width: 130px;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    background-color: #414141;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: 'SUIT-Regular', Arial, sans-serif;
    text-align: center;
    white-space: nowrap;
  }
  .edit-button:hover {
    background-color: #9c9c9c;
  }

.edit-profile-container button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-profile-container button:hover {
    background-color: #0056b3;
} 