/* Font face */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumMyeongjo';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumMyeongjo.woff2) format('woff2');
    font-display: swap;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Header styles */
.header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-family: 'SUIT-Regular', sans-serif;
}

.header_topbar {
    background-color: #252525;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_top {
    width: 100%;
    max-width: 1150px;
    color: white;
    margin: 0 auto;
}

.header_top_txt {
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ccc;
}

/* 로고와 메뉴를 하나의 컨테이너로 묶기 */
.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    height: 75px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header_logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.FASHION {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px; 
    color: #16AA52; 
    /* color: #0055FF; */
    color: #333;
    
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing:2px;
}

.header_menu {
    display: flex;
    justify-content: center;
    flex: 1;
    font-family: 'SUIT-Regular', sans-serif;
}

.header_mainmenu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_mainmenu li {
    position: relative;
    margin: 0 10px;
}

.header_mainmenu li a {
    text-decoration: none;
    color: #333;
    padding-right: 10px;
    display: block;
    font-size: 14px;
    font-family: 'SUIT-Regular', sans-serif; 
    letter-spacing: 2px;
}

.header_mainmenu li:hover > a {
    font-weight: bold;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    white-space: nowrap;
    min-width: 150px;
}

.dropdown-menu li {
    white-space: nowrap;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 3px 10px;
    font-family: 'SUIT-Regular', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.header_mainmenu li:hover .dropdown-menu {
    display: block;
}

.header_rightmenu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header_rightmenu span {
    font-size: 14px;
    cursor: pointer;
    font-family: 'SUIT-Regular', sans-serif;
    letter-spacing: 1px;
}

.header_rightmenu span:hover {
    text-decoration: underline;
    color: black;
}

.header_rightmenu span a {
    color: #333;
    text-decoration: none;
}

._icon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-input {
    position: absolute;
    top: 135%;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    z-index: 999;
}

.search-input input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
    width: 200px;
    border-radius: 4px;
    font-family: 'SUIT-Regular', sans-serif; /* 폰트 적용 */
}

.search-input button {
    width: 100%;
    background-color: #3f3f3f;
    border: none;
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-input button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 1175px) {
    .header_top_txt {
        padding: 0 20px;
    }
    .header_main {
        padding: 0 20px;
    }


}

@media screen and (max-width: 800px) {
    .header_main {
        flex-direction: column;
        height: auto;
        padding: 10px; /* 좌우 여백 추가 */
    }

    .header_logo {
        margin: 15px;
    }

    .header_menu {
        flex-direction: column;
        align-items: center;
    }

    .header_mainmenu li {
        margin: 0;
        margin-right: 5px;
    }

    .header_mainmenu li:last-child {
        margin-right: 0;
    }

    .header_rightmenu {
        align-items: center;
        gap: 20px;
        margin-top: 5px;
    }
}


