.home-page {
    padding: 0 20px;
    max-width: 1150px;
    margin: 0 auto;
}

.home-page-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 150px;
}

@media (max-width: 890px) {
    .home-page-bottom {
      display: block;
      margin-top: 50px;
      margin-bottom: 150px;
    }
}