/* Join.css */
.join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    padding: 40px;
    max-width: 100%;
    text-align: center;
    margin:0 auto;
}

.join-container p {
    margin-bottom: 20px;
    text-align: center;
}

.join-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.terms-container {
    width: 350px;
    height: 280px;
    overflow-y: scroll;
    border: 1px solid #ced4da;
    padding: 15px 30px;
    background-color: white;
    margin-bottom: 20px;
}


.warning-message {
    color: #e74c3c;
    font-size: 14px;
}

.agree-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.agree-checkbox input {
    margin-right: 10px;
}

.join-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 15px;
}

.join-button:hover {
    background-color: #858585;
}

.cancel-button{
    background-color: #a3a3a3;
    color: #fff;
    border: none;
    padding: 12px 53px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #bdbdbd;
}