.latest-articles-section {
    max-width: 1150px;
    width: 75%;
}

.section-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 15px;
    border-bottom: 2px solid #333;
}

.section-header h2{
    color: #333;
    font-size: 20px;
    font-family: 'SUIT-Regular', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.top-divider {
    flex-grow: 1;
    margin-right: 10px;
    border: none;
    border-top: 1px solid #ccc;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article-link {
    text-decoration: none;
    color: inherit;
}

.article-card {
    /* width: 100%; */
    width: 270px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.article-card:hover {
    transform: translateY(-10px);
}

.article-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.article-content {
    padding: 10px;
}

.article-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-content p {
    font-size: 14px;
    color: #666;
}

.article-date {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

.articles-divider {
    margin-top: 20px;
    border: none;
    border-top: 1px solid #ccc;
}

@media (max-width: 1190px) {
    .latest-articles-section {
        width: 100%;
        justify-content: flex-start;
    }
}

@media (max-width: 890px) {
    .latest-articles-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .articles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .article-card {
        flex: 1 1 calc(50% - 20px); 
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .section-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .section-header h2 {
        margin-bottom: 10px;
    }

    .articles-container {
        gap: 10px;
    }

    .article-card {
        min-width: 100%;
    }

    .article-content h3 {
        font-size: 16px;
    }

    .article-content p {
        font-size: 12px;
    }

    .article-date {
        font-size: 10px;
    }
}
  