@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
.mypage_wrap {
  max-width: 1150px; /* 최대 너비 설정 */
  margin: 0 auto;
}
  
  /* MyPage 컨테이너 */
  .mypage-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    
    gap: 30px;
  }
  
  .mypage_wrap h2 {
    width: 100%;
    border-bottom: 1px solid #555555;
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: #333;
    text-align: left;
    font-family: 'SUIT-Regular', Arial, sans-serif;
  }

  /* 프로필 섹션 */
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%; /* 너비 100%로 설정 */
    max-width: 80%; /* 최대 너비 설정 */
    box-sizing: border-box; /* padding과 border 포함하여 너비 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .username {
    font-family: 'SUIT-Regular', Arial, sans-serif; /* 폰트 적용 */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* 텍스트 색상 설정 */
  }
  
  /* 메뉴 섹션 */
  .menu-section {
    width: 100%; /* 너비 100%로 설정 */
    max-width: 80%; /* 최대 너비 설정 */
    background-color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box; /* padding과 border 포함하여 너비 설정 */
  }
  
  .menu-section ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-section li {
    font-family: 'SUIT-Regular', Arial, sans-serif; /* 폰트 적용 */
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    text-align: center; /* 텍스트 가운데 정렬 */
  }
  
  .menu-section li:last-child {
    border-bottom: none;
  }
  