@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
.mypage_wrap {
  max-width: 400px; 
  margin: 0 auto;
}
  
  /* MyPage 컨테이너 */
  .mypage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mypage_wrap h2 {
    margin-bottom: 40px;
    color: #333;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #555555;
    padding-bottom: 15px;
    font-family: 'SUIT-Regular', Arial, sans-serif;
    font-weight:bold;
    letter-spacing: 1px;
  }

  /* 프로필 섹션 */
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; 
    box-sizing: border-box;
    text-align: center; 
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .username {
    font-family: 'SUIT-Regular', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; 
  }
  
  /* 메뉴 섹션 */
  .menu-section {
    width: 100%;
  }
  
  .menu-section ul {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
  }
  
  .menu-section li {
    font-family: 'SUIT-Regular', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
    margin-top: 10px;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    text-align: center; 
  }
  
  .menu-section a:hover{
    color: #333;
    font-weight: bold;
  }
