
.news_detail_page_news_detail_page {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.news_detail_page_news_detail_page ._2411017 {
	position: absolute;
	left: 288.75px;
	top: 656.25px;
	width: 633.75px;
	height: 361.5px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 19.979999542236328px;
}
.news_detail_page_news_detail_page ._ {
	position: absolute;
	left: 288.75px;
	top: 122.25px;
	width: 633.75px;
	height: 1011px;
}
.news_detail_page_news_detail_page ._ .Rectangle344 {
	position: absolute;
	left: 0px;
	top: 102px;
	width: 633.75px;
	height: 375px;
	background: rgba(233,120,120,0.25);
}
.news_detail_page_news_detail_page ._ .__1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 633.75px;
	height: 44.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 30px;
	font-weight: 700;
	line-height: 44.40000057220459px;
}
.news_detail_page_news_detail_page ._ ._20240607whkficokr {
	position: absolute;
	left: 0px;
	top: 52.5px;
	width: 633.75px;
	height: 17.25px;
	color: rgba(99,99,99,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 400;
	line-height: 16.65000057220459px;
}
.news_detail_page_news_detail_page ._ .__2 {
	position: absolute;
	left: 0px;
	top: 485.25px;
	width: 633.75px;
	height: 21px;
	color: rgba(99,99,99,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 400;
	line-height: 16.65000057220459px;
}
.news_detail_page_news_detail_page ._ .__3 {
	position: absolute;
	left: 0px;
	top: 69.75px;
	width: 633.75px;
	height: 32.25px;
	color: rgba(99,99,99,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 11.25px;
	font-weight: 500;
	line-height: 16.65000057220459px;
}
.news_detail_page_news_detail_page ._ ._101 {
	position: absolute;
	left: 0px;
	top: 102px;
	width: 633.75px;
	height: 375px;
	object-fit: cover;
	overflow: hidden;
}
.news_detail_page_news_detail_page .__4 {
	position: absolute;
	left: 993.75px;
	top: 122.25px;
	width: 157.5px;
	height: 969.75px;
}
.news_detail_page_news_detail_page .__4 .Group30 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 156.75px;
	height: 853.5px;
}
.news_detail_page_news_detail_page .__4 .Group30 .Rectangle345 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 156.75px;
	height: 158.25px;
	background: rgba(216,212,212,1.00);
}
.news_detail_page_news_detail_page .__4 .Group30 .Rectangle347 {
	position: absolute;
	left: 0px;
	top: 174px;
	width: 156.75px;
	height: 158.25px;
	background: rgba(216,212,212,1.00);
}
.news_detail_page_news_detail_page .__4 .Group30 .Rectangle348 {
	position: absolute;
	left: 0px;
	top: 347.25px;
	width: 156.75px;
	height: 159px;
	background: rgba(216,212,212,1.00);
}
.news_detail_page_news_detail_page .__4 .Group30 .Rectangle349 {
	position: absolute;
	left: 0px;
	top: 521.25px;
	width: 156.75px;
	height: 158.25px;
	background: rgba(216,212,212,1.00);
}
.news_detail_page_news_detail_page .__4 .Group30 .Rectangle350 {
	position: absolute;
	left: 0px;
	top: 695.25px;
	width: 156.75px;
	height: 158.25px;
	background: rgba(216,212,212,1.00);
}
.news_detail_page_news_detail_page .__5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 52.5px;
	background: rgba(255,255,255,1.00);
}
.news_detail_page_news_detail_page .__5 .Group28 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 52.5px;
}
.news_detail_page_news_detail_page .__5 .Group28 .Rectangle374 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 52.5px;
	background: rgba(217,217,217,0.20);
}
.news_detail_page_news_detail_page .__5 .Group28 .BESTNEWS {
	position: absolute;
	left: 288.75px;
	top: 17.25px;
	width: 89.25px;
	height: 15.75px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 12.375px;
	font-weight: 400;
	line-height: 15.444000720977783px;
}
.news_detail_page_news_detail_page .__5 .Group28 .Rectangle375 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 52.5px;
	background: rgba(217,217,217,0.20);
}
.news_detail_page_news_detail_page .__5 .Group28 .HOMENEWSBSET {
	position: absolute;
	left: 971.25px;
	top: 21px;
	width: 180px;
	height: 11.25px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 9px;
	font-weight: 400;
	line-height: 11.23199987411499px;
}