
.news_page_news_page {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.news_page_news_page .image4 {
	visibility: hidden;
	position: absolute;
	left: 6px;
	top: -137.25px;
	width: 1439.25px;
	height: 798px;
	object-fit: cover;
	overflow: hidden;
}
.news_page_news_page .image5 {
	visibility: hidden;
	position: absolute;
	left: 6.75px;
	top: -143.25px;
	width: 1439.25px;
	height: 803.25px;
	object-fit: cover;
	overflow: hidden;
}
.news_page_news_page .Group22 {
	position: absolute;
	left: 289.5px;
	top: 123.75px;
	width: 633px;
	height: 1318.5px;
}
.news_page_news_page .Group22 .Rectangle344 {
	position: absolute;
	left: 0px;
	top: 19.5px;
	width: 172.87525177001953px;
	height: 150px;
	background: rgba(233,120,120,0.25);
}
.news_page_news_page .Group22 .Rectangle353 {
	position: absolute;
	left: 0px;
	top: 207.75px;
	width: 172.87525177001953px;
	height: 150px;
	background: rgba(233,120,120,0.25);
}
.news_page_news_page .Group22 .Rectangle356 {
	position: absolute;
	left: 0px;
	top: 396px;
	width: 172.87525177001953px;
	height: 150px;
	background: rgba(233,120,120,0.25);
}
.news_page_news_page .Group22 .Rectangle359 {
	position: absolute;
	left: 0px;
	top: 584.25px;
	width: 172.87525177001953px;
	height: 150px;
	background: rgba(233,120,120,0.25);
}
.news_page_news_page .Group22 .Rectangle362 {
	position: absolute;
	left: 0px;
	top: 772.5px;
	width: 172.87525177001953px;
	height: 150px;
	background: rgba(233,120,120,0.25);
}
.news_page_news_page .Group22 .Rectangle366 {
	position: absolute;
	left: 0px;
	top: 960.75px;
	width: 172.87525177001953px;
	height: 150px;
	background: rgba(233,120,120,0.25);
}
.news_page_news_page .Group22 .Rectangle370 {
	position: absolute;
	left: 0px;
	top: 1149px;
	width: 172.87525177001953px;
	height: 150px;
	background: rgba(233,120,120,0.25);
}
.news_page_news_page .Group22 .Rectangle346 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle354 {
	position: absolute;
	left: 0px;
	top: 188.25px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle357 {
	position: absolute;
	left: 0px;
	top: 376.5px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle360 {
	position: absolute;
	left: 0px;
	top: 564.75px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle363 {
	position: absolute;
	left: 0px;
	top: 753px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle367 {
	position: absolute;
	left: 0px;
	top: 941.25px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle371 {
	position: absolute;
	left: 0px;
	top: 1129.5px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle358 {
	position: absolute;
	left: 0px;
	top: 564px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle364 {
	position: absolute;
	left: 0px;
	top: 752.25px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle368 {
	position: absolute;
	left: 0px;
	top: 940.5px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle372 {
	position: absolute;
	left: 0px;
	top: 1128.75px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 .Rectangle373 {
	position: absolute;
	left: 0px;
	top: 1317px;
	width: 633px;
	height: 1.5px;
	background: rgba(221,221,221,1.00);
}
.news_page_news_page .Group22 ._ {
	position: absolute;
	left: 192.6522216796875px;
	top: 19.5px;
	width: 440.3478240966797px;
	height: 44.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 20.25px;
	font-weight: 700;
	line-height: 29.969999313354492px;
}
.news_page_news_page .Group22 .__1 {
	position: absolute;
	left: 192.6522216796875px;
	top: 207.75px;
	width: 440.3478240966797px;
	height: 44.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 20.25px;
	font-weight: 700;
	line-height: 29.969999313354492px;
}
.news_page_news_page .Group22 .__2 {
	position: absolute;
	left: 192.6522216796875px;
	top: 396px;
	width: 440.3478240966797px;
	height: 44.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 20.25px;
	font-weight: 700;
	line-height: 29.969999313354492px;
}
.news_page_news_page .Group22 .__3 {
	position: absolute;
	left: 192.6522216796875px;
	top: 584.25px;
	width: 440.3478240966797px;
	height: 44.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 20.25px;
	font-weight: 700;
	line-height: 29.969999313354492px;
}
.news_page_news_page .Group22 .__4 {
	position: absolute;
	left: 192.6522216796875px;
	top: 772.5px;
	width: 440.3478240966797px;
	height: 44.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 20.25px;
	font-weight: 700;
	line-height: 29.969999313354492px;
}
.news_page_news_page .Group22 .__5 {
	position: absolute;
	left: 192.6522216796875px;
	top: 960.75px;
	width: 440.3478240966797px;
	height: 44.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 20.25px;
	font-weight: 700;
	line-height: 29.969999313354492px;
}
.news_page_news_page .Group22 .__6 {
	position: absolute;
	left: 192.6522216796875px;
	top: 1149px;
	width: 440.3478240966797px;
	height: 44.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 20.25px;
	font-weight: 700;
	line-height: 29.969999313354492px;
}
.news_page_news_page .Group22 .__7 {
	position: absolute;
	left: 192.6522216796875px;
	top: 63.75px;
	width: 440.3478240966797px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 19.979999542236328px;
}
.news_page_news_page .Group22 .__8 {
	position: absolute;
	left: 192.6522216796875px;
	top: 252px;
	width: 440.3478240966797px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 19.979999542236328px;
}
.news_page_news_page .Group22 .__9 {
	position: absolute;
	left: 192.6522216796875px;
	top: 440.25px;
	width: 440.3478240966797px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 19.979999542236328px;
}
.news_page_news_page .Group22 .__10 {
	position: absolute;
	left: 192.6522216796875px;
	top: 628.5px;
	width: 440.3478240966797px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 19.979999542236328px;
}
.news_page_news_page .Group22 .__11 {
	position: absolute;
	left: 192.6522216796875px;
	top: 816.75px;
	width: 440.3478240966797px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 19.979999542236328px;
}
.news_page_news_page .Group22 .__12 {
	position: absolute;
	left: 192.6522216796875px;
	top: 1005px;
	width: 440.3478240966797px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 19.979999542236328px;
}
.news_page_news_page .Group22 .__13 {
	position: absolute;
	left: 192.6522216796875px;
	top: 1193.25px;
	width: 440.3478240966797px;
	height: 81px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 19.979999542236328px;
}
.news_page_news_page .Group22 ._101 {
	position: absolute;
	left: 0px;
	top: 19.5px;
	width: 172.18374252319336px;
	height: 150px;
	object-fit: cover;
	overflow: hidden;
}
.news_page_news_page .Group22 ._102 {
	position: absolute;
	left: 0px;
	top: 207.75px;
	width: 172.18374252319336px;
	height: 150px;
	object-fit: cover;
	overflow: hidden;
}
.news_page_news_page .Group22 ._103 {
	position: absolute;
	left: 0px;
	top: 396px;
	width: 172.18374252319336px;
	height: 150px;
	object-fit: cover;
	overflow: hidden;
}
.news_page_news_page .Group22 ._104 {
	position: absolute;
	left: 0px;
	top: 584.25px;
	width: 172.18374252319336px;
	height: 150px;
	object-fit: cover;
	overflow: hidden;
}
.news_page_news_page .Group22 ._105 {
	position: absolute;
	left: 0px;
	top: 772.5px;
	width: 172.18374252319336px;
	height: 150px;
	object-fit: cover;
	overflow: hidden;
}
.news_page_news_page .Group22 ._106 {
	position: absolute;
	left: 0px;
	top: 960.75px;
	width: 172.18374252319336px;
	height: 150px;
	object-fit: cover;
	overflow: hidden;
}
.news_page_news_page .Group22 ._107 {
	position: absolute;
	left: 0px;
	top: 1149px;
	width: 172.18374252319336px;
	height: 150px;
	object-fit: cover;
	overflow: hidden;
}
.news_page_news_page .Group29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 52.5px;
}
.news_page_news_page .Group29 .Rectangle374 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 52.5px;
	background: rgba(217,217,217,0.20);
}
.news_page_news_page .Group29 .BESTNEWS {
	position: absolute;
	left: 288.75px;
	top: 17.25px;
	width: 89.25px;
	height: 15.75px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 12.375px;
	font-weight: 400;
	line-height: 15.444000720977783px;
}
.news_page_news_page .Group29 .Rectangle375 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 52.5px;
	background: rgba(217,217,217,0.20);
}
.news_page_news_page .Group29 .HOMENEWSBSET {
	position: absolute;
	left: 971.25px;
	top: 21px;
	width: 180px;
	height: 11.25px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 9px;
	font-weight: 400;
	line-height: 11.23199987411499px;
}
.news_page_news_page .Group30 {
	position: absolute;
	left: 993.75px;
	top: 122.25px;
	width: 156.75px;
	height: 853.5px;
}
.news_page_news_page .Group30 .Rectangle345 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 156.75px;
	height: 158.25px;
	background: rgba(99,83,83,0.25);
}
.news_page_news_page .Group30 .Rectangle347 {
	position: absolute;
	left: 0px;
	top: 174px;
	width: 156.75px;
	height: 158.25px;
	background: rgba(99,83,83,0.25);
}
.news_page_news_page .Group30 .Rectangle348 {
	position: absolute;
	left: 0px;
	top: 347.25px;
	width: 156.75px;
	height: 159px;
	background: rgba(99,83,83,0.25);
}
.news_page_news_page .Group30 .Rectangle349 {
	position: absolute;
	left: 0px;
	top: 521.25px;
	width: 156.75px;
	height: 158.25px;
	background: rgba(99,83,83,0.25);
}
.news_page_news_page .Group30 .Rectangle350 {
	position: absolute;
	left: 0px;
	top: 695.25px;
	width: 156.75px;
	height: 158.25px;
	background: rgba(99,83,83,0.25);
}