.search-container {
  width: 80%;
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-form select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-form button {
  padding: 10px 20px;
  background-color: #3f3f3f;
  border: none;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-results h2 {
  text-align: center;
  margin-bottom: 20px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.results-table th {
  background-color: #f4f4f4;
}

.pagination {
  text-align: center;
  margin-top: 50px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #555;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 10px;
  margin-top: 8px;
  font-size: 1em;
}
