@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.signup {
  background-color: #fff;
  padding: 40px;
  max-width: 1150px;
  margin: 0 auto;
  font-family: 'SUIT-Regular', Arial, sans-serif;
}

.signup h2 {
  /* width: 100%;
  border-bottom: 1px solid #555555;
  padding-bottom: 20px;
  margin-bottom: 50px;
  color: #333;
  text-align: left;
  font-family: 'SUIT-Regular', Arial, sans-serif;
   */
  margin-bottom: 40px;
  color: #333;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #555555;
  padding-bottom: 15px;
  font-family: 'SUIT-Regular', Arial, sans-serif;
  font-weight:bold;
  letter-spacing: 1px;
}

.form-container-wrapper {
  display: flex;
  justify-content: space-between; /* 양옆에 나란히 배치 */
  align-items: flex-end; /* 아래쪽 선에 맞추기 */
  height: 100%; /* 부모 컨테이너의 전체 높이 사용 */
}

.form-container {
  width: 45%;
  margin-bottom: 20px; /* 아래 여백 */
  font-family: 'SUIT-Regular', Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  text-align: left;
  font-family: 'SUIT-Regular', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.form-group input,
.form-group select {
  width: 100%;
  height: 30px;
  padding: 0px 0;
  border-bottom: 1px solid #ccc;
  border-width: 0 0 1px;
  font-family: 'SUIT-Regular', Arial, sans-serif;
}

.birthdate-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.birthdate-group .form-group {
  flex: 1;
  margin-right: 10px;
}

.birthdate-inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  padding-bottom: 23px;
}

.birthdate-inputs select {
  height: 37px;
  margin-right: 20px;
}

.birthdate-inputs select:last-child {
  margin-right: 0;
}

.error {
  color: #e74c3c;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'SUIT-Regular', Arial, sans-serif;
}

.signup-button {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #777;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-family: 'SUIT-Regular', Arial, sans-serif;
  text-align: center;
  white-space:nowrap
  
}

.signup-button:hover {
  background-color: #9c9c9c;
}

@media (max-width: 530px) {
  .form-container-wrapper {
    flex-direction: column; 
  }

  .form-container {
    width: 100%;
  }
}
