.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.survey-form {
  max-width: 600px; 
  margin: 50px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.survey-form .form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.survey-form label {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  margin-top: -15px;
  text-align: left; 
  flex: 1;
}

.survey-form .options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 4;
  justify-content: flex-start; 
  white-space : nowrap;
  margin-bottom: 15px;
}

.option {
  width: 70px;
  background-color: #999;
  color: #fff;
  border: none;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-family: 'SUIT-Regular', Arial, sans-serif;
  text-align: center;
}

.option.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.survey-form .submit-button {
  height: 50%;
  display: block;
  width: 100%;
  border: none;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s;
}

.survey-form .submit-button:hover {
  background-color: #0056b3;
}
