/* src/components/UserSurveyManagement.css */

.survey-management-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.survey-management-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.survey-management-container ul {
    list-style-type: none;
    padding: 0;
}

.survey-management-container ul li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.survey-management-container ul li p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.survey-management-container ul li p span {
    font-weight: bold;
    color: #333;
}

.no-surveys{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.start-survey-button {  
    width: 30px;
    height: 25px;
    border: none;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s;
    margin-left: 20px;
    margin-top:13px;
}
.survey-management-container .del{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    margin-left: 10px;
    color: #888;
}