
.contents3_contents3 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .image6 {
	position: absolute;
	left: 1195.5px;
	top: 501px;
	width: 200.25px;
	height: 343.5px;
	object-fit: cover;
	overflow: hidden;
}
.contents3_contents3 .con31 {
	position: absolute;
	left: 289.5px;
	top: 0px;
	width: 666.75px;
	height: 594px;
}
.contents3_contents3 .con31 .con31_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 666.75px;
	height: 594px;
}
.contents3_contents3 .con31 .con31_1 .Group3 {
	position: absolute;
	left: 0px;
	top: 63.58941650390625px;
	width: 317.8290252685547px;
	height: 115.95718002319336px;
}
.contents3_contents3 .con31 .con31_1 .Group3 ._460154 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 317.8290252685547px;
	height: 115.20906829833984px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group3 .Rectangle327 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	height: 115.95718002319336px;
	background: rgba(255,154,154,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group3 ._ {
	position: absolute;
	left: 169.2784881591797px;
	top: 0px;
	width: 147.85958862304688px;
	height: 48.62720489501953px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 700;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group3 .__1 {
	position: absolute;
	left: 169.2784881591797px;
	top: 48.627227783203125px;
	width: 147.85958862304688px;
	height: 47.1309814453125px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group3 .__2 {
	position: absolute;
	left: 225.9349822998047px;
	top: 102.49118041992188px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 8.25px;
	font-weight: 700;
	line-height: 12.21000051498413px;
}
.contents3_contents3 .con31 .con31_1 .Group7 {
	position: absolute;
	left: 0px;
	top: 201.24179077148438px;
	width: 317.8290252685547px;
	height: 115.95718002319336px;
}
.contents3_contents3 .con31 .con31_1 .Group7 ._460154_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 317.8290252685547px;
	height: 115.20906829833984px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group7 .Rectangle327_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	height: 115.95718002319336px;
	background: rgba(255,154,154,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group7 .__3 {
	position: absolute;
	left: 169.2784881591797px;
	top: 0px;
	width: 147.85958862304688px;
	height: 48.62720489501953px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 700;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group7 .__4 {
	position: absolute;
	left: 169.2784881591797px;
	top: 48.627227783203125px;
	width: 147.85958862304688px;
	height: 47.1309814453125px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group7 .more {
	position: absolute;
	left: 225.9349822998047px;
	top: 102.49118041992188px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 8.25px;
	font-weight: 700;
	line-height: 12.21000051498413px;
}
.contents3_contents3 .con31 .con31_1 .Group11 {
	position: absolute;
	left: 0px;
	top: 338.8941650390625px;
	width: 317.8290252685547px;
	height: 117.45340347290039px;
}
.contents3_contents3 .con31 .con31_1 .Group11 ._460154_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 317.8290252685547px;
	height: 115.20906829833984px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group11 .Rectangle327_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	height: 115.95718002319336px;
	background: rgba(255,154,154,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group11 .__5 {
	position: absolute;
	left: 169.2784881591797px;
	top: 0px;
	width: 147.85958862304688px;
	height: 48.62720489501953px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 700;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group11 .__6 {
	position: absolute;
	left: 169.2784881591797px;
	top: 48.627227783203125px;
	width: 147.85958862304688px;
	height: 47.1309814453125px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group11 .more_1 {
	position: absolute;
	left: 225.9349822998047px;
	top: 103.9874267578125px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 8.25px;
	font-weight: 700;
	line-height: 12.21000051498413px;
}
.contents3_contents3 .con31 .con31_1 .Group16 {
	position: absolute;
	left: 0px;
	top: 476.546630859375px;
	width: 317.8290252685547px;
	height: 117.45340347290039px;
}
.contents3_contents3 .con31 .con31_1 .Group16 ._460154_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 317.8290252685547px;
	height: 115.20906829833984px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group16 .Rectangle327_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	height: 115.95718002319336px;
	background: rgba(255,154,154,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group16 .__7 {
	position: absolute;
	left: 169.2784881591797px;
	top: 0px;
	width: 147.85958862304688px;
	height: 48.62720489501953px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 700;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group16 .__8 {
	position: absolute;
	left: 169.2784881591797px;
	top: 48.62713623046875px;
	width: 147.85958862304688px;
	height: 47.1309814453125px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group16 .more_2 {
	position: absolute;
	left: 225.9349822998047px;
	top: 103.98733520507812px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 8.25px;
	font-weight: 700;
	line-height: 12.21000051498413px;
}
.contents3_contents3 .con31 .con31_1 .Group4 {
	position: absolute;
	left: 348.9209747314453px;
	top: 63.58941650390625px;
	width: 317.8290252685547px;
	height: 117.45340347290039px;
}
.contents3_contents3 .con31 .con31_1 .Group4 ._460154_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 317.8290252685547px;
	height: 115.20906829833984px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group4 .Rectangle327_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	height: 115.95718002319336px;
	background: rgba(255,154,154,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group4 .__9 {
	position: absolute;
	left: 169.27851104736328px;
	top: 0px;
	width: 147.85958862304688px;
	height: 48.62720489501953px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 700;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group4 .__10 {
	position: absolute;
	left: 169.27851104736328px;
	top: 48.627227783203125px;
	width: 147.85958862304688px;
	height: 47.1309814453125px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group4 .more_3 {
	position: absolute;
	left: 225.9349822998047px;
	top: 103.9874267578125px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 8.25px;
	font-weight: 700;
	line-height: 12.21000051498413px;
}
.contents3_contents3 .con31 .con31_1 .Group9 {
	position: absolute;
	left: 348.9209747314453px;
	top: 201.24179077148438px;
	width: 317.8290252685547px;
	height: 117.45340347290039px;
}
.contents3_contents3 .con31 .con31_1 .Group9 ._460154_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 317.8290252685547px;
	height: 115.20906829833984px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group9 .Rectangle327_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	height: 115.95718002319336px;
	background: rgba(255,154,154,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group9 .__11 {
	position: absolute;
	left: 169.27851104736328px;
	top: 0px;
	width: 147.85958862304688px;
	height: 48.62720489501953px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 700;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group9 .__12 {
	position: absolute;
	left: 169.27851104736328px;
	top: 48.627227783203125px;
	width: 147.85958862304688px;
	height: 47.1309814453125px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group9 .more_4 {
	position: absolute;
	left: 225.9349822998047px;
	top: 103.9874267578125px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 8.25px;
	font-weight: 700;
	line-height: 12.21000051498413px;
}
.contents3_contents3 .con31 .con31_1 .Group13 {
	position: absolute;
	left: 348.75px;
	top: 338.8941650390625px;
	width: 318px;
	height: 117.45344924926758px;
}
.contents3_contents3 .con31 .con31_1 .Group13 ._460154_6 {
	position: absolute;
	left: 0.1709747314453125px;
	top: 0px;
	width: 317.8290252685547px;
	height: 115.20906829833984px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group13 .Rectangle327_6 {
	position: absolute;
	left: 0px;
	top: 0.1058349609375px;
	width: 159px;
	height: 117px;
	background: rgba(255,154,154,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group13 .__13 {
	position: absolute;
	left: 169.4494857788086px;
	top: 0px;
	width: 147.85958862304688px;
	height: 48.62720489501953px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 700;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group13 .__14 {
	position: absolute;
	left: 169.4494857788086px;
	top: 48.627227783203125px;
	width: 147.85958862304688px;
	height: 47.1309814453125px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group13 .more_5 {
	position: absolute;
	left: 226.10595703125px;
	top: 103.9874267578125px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 8.25px;
	font-weight: 700;
	line-height: 12.21000051498413px;
}
.contents3_contents3 .con31 .con31_1 .Group14 {
	position: absolute;
	left: 348.9209747314453px;
	top: 476.546630859375px;
	width: 317.8290252685547px;
	height: 117.45340347290039px;
}
.contents3_contents3 .con31 .con31_1 .Group14 ._460154_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 317.8290252685547px;
	height: 115.20906829833984px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group14 .Rectangle327_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	height: 115.95718002319336px;
	background: rgba(255,154,154,1.00);
}
.contents3_contents3 .con31 .con31_1 .Group14 .__15 {
	position: absolute;
	left: 169.27851104736328px;
	top: 0px;
	width: 147.85958862304688px;
	height: 48.62720489501953px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 700;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group14 .__16 {
	position: absolute;
	left: 169.27851104736328px;
	top: 48.62713623046875px;
	width: 147.85958862304688px;
	height: 47.1309814453125px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.540000915527344px;
}
.contents3_contents3 .con31 .con31_1 .Group14 .more_6 {
	position: absolute;
	left: 225.9349822998047px;
	top: 103.98733520507812px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans CJK KR;
	font-size: 8.25px;
	font-weight: 700;
	line-height: 12.21000051498413px;
}
.contents3_contents3 .con31 .con31_1 ._31 {
	position: absolute;
	left: 37.5%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 666.75px;
	height: 46.382872581481934px;
}
.contents3_contents3 .con31 .con31_1 ._31 .Rectangle330 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 666.75px;
	height: 46.382872581481934px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con31 .con31_1 ._31 .Rectangle321 {
	position: absolute;
	left: 0px;
	top: 44.88665771484375px;
	width: 666.75px;
	height: 1.496221661567688px;
	background: rgba(208,208,208,1.00);
}
.contents3_contents3 .con31 .con31_1 ._31 .FASHIONNEWS {
	position: absolute;
	left: 0px;
	top: 15.710311889648438px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}
.contents3_contents3 .con31 .con31_1 ._31 .more_7 {
	position: absolute;
	left: 575.5469055175781px;
	top: 15.710311889648438px;
	width: 91.20311164855957px;
	height: 13.46599531173706px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}
.contents3_contents3 .con32 {
	position: absolute;
	left: 987.75px;
	top: 15px;
	width: 164.25px;
	height: 428.25px;
}
.contents3_contents3 .con32 .con32_1 {
	position: absolute;
	left: 0px;
	top: 1.5px;
	width: 164.25px;
	height: 427.5px;
}
.contents3_contents3 .con32 .con32_1 .Rectangle28 {
	position: absolute;
	left: 0px;
	top: 47.25px;
	width: 164.25px;
	height: 380.25px;
	background: rgba(255,198,198,1.00);
}
.contents3_contents3 .con32 .con32_1 .Rectangle331 {
	position: absolute;
	left: 0px;
	top: 28.5px;
	width: 164.25px;
	height: 1.5px;
	background: rgba(208,208,208,1.00);
}
.contents3_contents3 .con32 .con32_1 ._20240530_4263611 {
	position: absolute;
	left: 0px;
	top: 47.25px;
	width: 164.25px;
	height: 380.25px;
	object-fit: cover;
	overflow: hidden;
}
.contents3_contents3 .con32 .con32_1 .FASHIONNEWS_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 13.5px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}
.contents3_contents3 .con33 {
	position: absolute;
	left: 289.5px;
	top: 606.75px;
	width: 666.75px;
	height: 230.25px;
}
.contents3_contents3 .con33 .con33_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 666.75px;
	height: 230.25px;
}
.contents3_contents3 .con33 .con33_1 .Group15 {
	position: absolute;
	left: 37.461180198849654%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 666.0597839355469px;
	height: 46.5px;
}
.contents3_contents3 .con33 .con33_1 .Group15 .Rectangle330_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 666.0597839355469px;
	height: 46.5px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con33 .con33_1 .Group15 .Rectangle321_1 {
	position: absolute;
	left: 0px;
	top: 45px;
	width: 666.0597839355469px;
	height: 1.5px;
	background: rgba(208,208,208,1.00);
}
.contents3_contents3 .con33 .con33_1 .Group15 .ITEM {
	position: absolute;
	left: 0px;
	top: 15.75px;
	width: 91.10869789123535px;
	height: 13.5px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}
.contents3_contents3 .con33 .con33_1 .Group15 .more_8 {
	position: absolute;
	left: 574.9510803222656px;
	top: 15.75px;
	width: 91.10869789123535px;
	height: 13.5px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}
.contents3_contents3 .con33 .con33_1 .Rectangle333 {
	position: absolute;
	left: 0px;
	top: 66px;
	width: 151.1576042175293px;
	height: 164.25px;
	background: rgba(217,217,217,1.00);
}
.contents3_contents3 .con33 .con33_1 .Rectangle334 {
	position: absolute;
	left: 171.86412048339844px;
	top: 66px;
	width: 151.1576042175293px;
	height: 164.25px;
	background: rgba(217,217,217,1.00);
}
.contents3_contents3 .con33 .con33_1 .Rectangle335 {
	position: absolute;
	left: 343.72826385498047px;
	top: 66px;
	width: 151.1576042175293px;
	height: 164.25px;
	background: rgba(217,217,217,1.00);
}
.contents3_contents3 .con33 .con33_1 .Rectangle336 {
	position: absolute;
	left: 515.5924072265625px;
	top: 66px;
	width: 151.1576042175293px;
	height: 164.25px;
	background: rgba(217,217,217,1.00);
}
.contents3_contents3 .con33 .con33_1 .images1 {
	position: absolute;
	left: 2.070648193359375px;
	top: 68.25px;
	width: 147.01630783081055px;
	height: 159.75px;
	object-fit: cover;
	overflow: hidden;
}
.contents3_contents3 .con33 .con33_1 .images2 {
	position: absolute;
	left: 173.9347686767578px;
	top: 68.25px;
	width: 147.01630783081055px;
	height: 159.75px;
	object-fit: cover;
	overflow: hidden;
}
.contents3_contents3 .con33 .con33_1 .images3 {
	position: absolute;
	left: 345.79891204833984px;
	top: 68.25px;
	width: 147.01630783081055px;
	height: 159.75px;
	object-fit: cover;
	overflow: hidden;
}
.contents3_contents3 .con33 .con33_1 .images4 {
	position: absolute;
	left: 517.6630554199219px;
	top: 68.25px;
	width: 147.01630783081055px;
	height: 159.75px;
	object-fit: cover;
	overflow: hidden;
}
.contents3_contents3 .con33 .con33_1 .hover {
	position: absolute;
	left: 171.86412048339844px;
	top: 66px;
	width: 151.1576042175293px;
	height: 164.25px;
}
.contents3_contents3 .con33 .con33_1 .hover .Rectangle339 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 151.1576042175293px;
	height: 164.25px;
	background: rgba(0,0,0,0.20);
}
.contents3_contents3 .con33 .con33_1 .hover .Rectangle340 {
	position: absolute;
	left: 55.21739959716797px;
	top: 71.25px;
	width: 20.70652198791504px;
	height: 22.5px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con33 .con33_1 .hover .Rectangle341 {
	position: absolute;
	left: 77.30435943603516px;
	top: 71.25px;
	width: 20.70652198791504px;
	height: 22.5px;
	background: rgba(255,255,255,1.00);
}
.contents3_contents3 .con34 {
	position: absolute;
	left: 987.75px;
	top: 474px;
	width: 164.25px;
	height: 363px;
}
.contents3_contents3 .con34 .con34_1 {
	position: absolute;
	left: 0px;
	top: 6px;
	width: 164.25px;
	height: 363px;
}
.contents3_contents3 .con34 .con34_1 .Rectangle337 {
	position: absolute;
	left: 0px;
	top: 47.25px;
	width: 164.25px;
	height: 315.75px;
	background: rgba(217,217,217,1.00);
}
.contents3_contents3 .con34 .con34_1 .Rectangle339_1 {
	position: absolute;
	left: 0px;
	top: 28.5px;
	width: 164.25px;
	height: 1.5px;
	background: rgba(208,208,208,1.00);
}
.contents3_contents3 .con34 .con34_1 .COMMUNITY {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.5px;
	height: 13.5px;
	color: rgba(0,0,0,1.00);
	font-family: SUIT;
	font-size: 11.25px;
	font-weight: 700;
	line-height: 14.040000915527344px;
}
.contents3_contents3 .con34 .con34_1 .__17 {
	position: absolute;
	left: 19.5px;
	top: 56.25px;
	width: 128.25px;
	height: 20.25px;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans KR;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.203999519348145px;
}