.contents3 {
    width: 1150px;
    margin: 0 auto; /* 가운데 정렬 */
}

.con3_1 {
    margin-bottom: 30px; /* 아래 여백 추가 */
	width: 890px;
    
}

.con3_1_wrap {
     /* con3_1_wrap의 전체 영역 너비 */
	width: 424px; /* con3_1의 너비 */
	height: 155px;
	margin: 0 auto; /* 가운데 정렬 */
    display: flex;
    gap: 10px; /* 박스 간 간격 */
}

.con3_1_img {
    width: 212px; /* 박스의 너비를 100%로 설정하여 부모 요소에 맞춥니다 */
    height: 155px;
    background-color: #D9D9D9; /* 박스 배경색 */
	margin-right: 14px;
}
