.contents3 {
    width: 1150px;
    margin: 0 auto; /* 가운데 정렬 */
    
}


/* ------------------------------  con3_1 ------------------------------  */
.contents3_1 {
    margin-bottom: 30px; /* 아래 여백 추가 */
	width: 890px;    
}

.con3_1{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 34px;
}

.con3_1_wrap {
     /* con3_1_wrap의 전체 영역 너비 */
	width: 100%; /* con3_1의 너비 */
	height: 100%;
    display: flex;

    margin-bottom: 20px;
}

.con3_1_img {
    width: 212px; /* 박스의 너비를 100%로 설정하여 부모 요소에 맞춥니다 */
    height: 155px;
    background-color: gainsboro; /* 박스 배경색 */
	margin-right: 15px;
}

.con3_1_txt {
    width: 197px; /* 필요에 따라 너비 설정 */
}

.con3_1_title,
.con3_1_txt1 {
    font-family: 'Noto Sans KR';
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 표시할 줄 수 설정 */
    -webkit-box-orient: vertical; /* 세로 방향으로 배치 */
}

.con3_1_title {
    height: 65px; /* 타이틀의 고정된 높이 */
    font-weight: 600;
    overflow: hidden; /* 필요한 경우에만 overflow를 추가합니다 */
    margin-top: 3px;
}

.con3_1_txt1 {
    max-height: 80px; /* 최대 높이를 설정합니다 */
    overflow: hidden; /* 최대 높이를 초과하는 부분을 숨깁니다 */
    margin-top: 5px;
}

/* ------------------------------  con3_1 ------------------------------  */
